<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}">
        </script>
    </head>
    <body>
        <h2> Enter Subject Scores </h2>
        <form action="/submit" method='post'>
            <label for="Science">Science:</label>
            <input type="text" id="science" name="science" value="0"><br><br>
            <label for="Maths">Maths:</label>
            <input type="text" id="maths" name="maths" value="0"><br><br>
            <label for="C">C:</label>
            <input type="text" id="c" name="c" value="0"><br><br>
            <label for="Datascience">Data Science:</label>
            <input type="text" id="datascience" name="datascience" value="0"><br><br>
            <input type="submit" value="Submit">
        </form>
        <p> If you click the "Submit" button, the form data will be sent to a page called "/submit" </p>
    </body>
</html>